<p>
    <a href="/home/addTask">
        Ajouter une tâche
    </a>
<p>
    Trier par statut :
    <input type="radio" name="status" value="all" checked> Toutes les tâches
    <input type="radio" name="status" value="day"> Tâches du jours
    <input type="radio" name="status" value="future"> Tâches à venir
    <input type="radio" name="status" value="completed"> Tâches terminées

<div class="tasks">
<% @tasks.each do |task| %>
    <li>
        <div class="task">
            <h3 class="task-title"><%= task.title %></h3>
            <p class="task-date"><%= task.date %></p>
            <p class="task-description"><%= task.desc %></p>
            <div class="task-actions">
                <%= button_to "Modifier la tache", update_task_path(task), method: :patch %>
                <%= button_to "Supprimer la tache", { controller: "home", action: "delete", id: task.id }, method: :delete %>
                <% if task.iscompleted %>
                    <%= button_to "Marquer comme non terminée", { controller: "home", action: "changeState", id: task.id }, method: :changeState, disabled: true %>
                <% else %>
                    <%= button_to "Marquer comme terminée", { controller: "home", action: "changeState", id: task.id }, method: :changeState %>
                <% end %>
            </div>
        </li>
<% end %>
</div>
