<p>
    <a href="/home/addTask">
        Ajouter une tâche
    </a>
<p>
    Trier par :
    <input type="radio" name="status" value="monthly" checked> Mois
    <input type="radio" name="status" value="finished"> Terminer
    <input type="radio" name="status" value="toCome"> A venir
    <input type="radio" name="status" value="all"> Toute
    
    <div class="monthSelection">
        <%= form_tag({ controller: "home", action: "previousMonth" }, method: :patch) do %>
            <%= button_tag type: "submit", class: "arrowLeft", onclick: "previousMonth(); return false;" do %>
                <%= image_tag("arrowLeft.png", alt: "Flèche gauche") %>
            <% end %>
        <% end %>
        
        <%= I18n.t('month_names')[@current_selected_month] %>
        
        <%= form_tag({ controller: "home", action: "nextMonth" }, method: :patch) do %>
            <%= button_tag type: "submit", class: "arrowRight", onclick: "nextMonth(); return false;" do %>
                <%= image_tag("arrowRight.png", alt: "Flèche droite") %>
            <% end %>
        <% end %>
  </div>

<div class="tasks">
<% @tasks.each do |task| %>
    <li>
        <div class="task">
            <h3 class="task-title"><%= task.title %></h3>
            <p class="task-date"><%= task.date %></p>
            <p class="task-description"><%= task.desc %></p>
            <div class="task-actions">
                <%= button_to "Modifier la tache", update_task_path(task), method: :patch %>
                <%= button_to "Supprimer la tache", { controller: "home", action: "delete", id: task.id }, method: :delete %>
                <% if task.iscompleted %>
                    <%= button_to "Marquer comme non terminée", { controller: "home", action: "changeState", id: task.id }, method: :changeState, disabled: true %>
                <% else %>
                    <%= button_to "Marquer comme terminée", { controller: "home", action: "changeState", id: task.id }, method: :changeState %>
                <% end %>
            </div>
        </li>
<% end %>
</div>
