<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <title>TaskMaster</title>
  <body>
    <h1>TaskMaster</h1>
    <p>La date actuelle est <strong><%= Time.now %></strong>.</p>
    <%= yield %>
  </body>
</html>
